<h1>Update a menu item</h1>
 
<%= form_with url: menu_item_path, method: :patch, class: "signUp-form" do |f| %>
  <p> 
    <%= f.label :name %><br/>
    <%= f.text_field :name,
                        placeholder: "Menu Item Name",
                        value: @menu_item.name,
                        autofocus:"autofocus"
    %>
    </p>
    <p> 
    <%= f.label :Menu %><br/> 
    <%= f.text_field :menu_name,
                            placeholder: "Menu Name",
                            value: @menu.name,
                            autofocus:"autofocus"
    %>
  </p>
  <p> 
    <%= f.label :Price %><br/> 
    <%= f.text_field :price,
                        placeholder: "Menu Item price",
                        value: @menu_item.price,
                        autofocus:"autofocus" %>
  </p>
  <p>
    <%= f.label :description %><br/> 
    <%= f.text_area :description,
                        placeholder: "Menu Item description",
                        value: @menu_item.description,
                        autofocus:"autofocus" %> 
  </p>
  <p>
    <%= f.submit %> 
  </p>
<% end %>