<h1>Create a new menu item</h1>
 
<%= form_with url: menu_items_path, method: :post do |f| %>
  <p> 
    <%= f.label :Name %><br/> 
    <%= f.text_field :name %>
  </p>
  <p> 
    <%= f.label :Menu %><br/> 
    <%= f.text_field :menu_name %>
  </p>
  <p> 
    <%= f.label :Price %><br/> 
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :description %><br/> 
    <%= f.text_area :description %> 
  </p>
  <p>
    <%= f.submit %> 
  </p>
<% end %>